h1 {
    color: blue;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

div.sample * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.sample ul {
    list-style-type: none;
}

div.sample img {
    width: 50%;
    
}

div.library *{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

div.library img{
    min-width: 10%;
}

body hr {
    border-top: 3px double;
    height: 3px;
}

body {
    font-family: sans-serif;
}

#main {
    margin-top: 6em;
}