{% extends "base.html" %}
{% block main %}
<div class="sample">
    <h1>{{ title }}</h1>
    <ul>
        <img src="{{ url_for('static', filename='images/') }}{{ book.img }}" alt="Image de {{ book.title }}">
        <li>Par {{ book.author.name }}</li>
        <li>Le prix est de {{ book.price }}€</li>
        <li>
            <a href="{{ book.url}}">
            <button>Acheter</button>
            </a>
        </li>
    </ul>
    <a href="/book">
        <p>Revenir à la liste de tous les livres</p>
    </a>
</div>
{% endblock %}