{% extends "base.html" %}
{% block main %}
    <h1>{{ title }}</h1>
    <div class="library col-xs-6 col-sm-8 col-md-12">
        {% for x in books %}
            <a href="book/{{ x.id }}">
            <img src="{{ url_for('static', filename='images/') }}{{ x.img }}" alt="{{ x.title }}">
            </a>
        {% endfor %}
    </div>
{% endblock %}