{% extends "base.html" %}
{% block main %}
    <h1>{{ title }}</h1>
    <a href="/book">
        <p>Aller à la liste de tous les livres</p>
    </a>
    <hr>
    <div class="sample">
        {% for x in books %}
        <ul>
            <a href="book/{{ x.id }}">
            <img src="{{ url_for('static', filename='images/') }}{{ x.img }}" alt="Image de {{ x.title }}">
            </a> 
            <li>{{ x.title }} écrit par {{ x.author.name }}</li>
            <li>Le prix est de {{ x.price }}€</li>
            <li><a href="{{ x.url}}">
                <button>Acheter</button>
            </a></li>
            <hr>
        </ul>
        {% endfor %}
    </div>
{% endblock %}
